@model LPCopiers.Models.ContactForm

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/globalize/globalize.js"></script>
<script src="~/Scripts/jquery.validate.globalize.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (!ViewData.ModelState.IsValid)
    { 
       <p>Please check for errors</p>
    }
    @ViewBag.Message
    
    <fieldset>
        <legend>Contact Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CName)
            @Html.ValidationMessageFor(model => model.CName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer)
            @Html.ValidationMessageFor(model => model.Customer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccountNo)
            @Html.ValidationMessageFor(model => model.AccountNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyURL)
            @Html.ValidationMessageFor(model => model.CompanyURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoOfUnits)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoOfUnits)
            @Html.ValidationMessageFor(model => model.NoOfUnits)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactTitle)
            @Html.ValidationMessageFor(model => model.ContactTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactName)
            @Html.ValidationMessageFor(model => model.ContactName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Town)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Town)
            @Html.ValidationMessageFor(model => model.Town)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostCode)
            @Html.ValidationMessageFor(model => model.PostCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <p>Change to radio button list of types</p>
        <div class="editor-label">
            @Html.LabelFor(model => model.VisitType)
        </div>
        <div class="editor-field">
            <ul>
                <li>@Html.RadioButtonFor(model => model.VisitType, "Sales") Sales</li>
                <li>@Html.RadioButtonFor(model => model.VisitType, "Service") Service</li>
                <li>@Html.RadioButtonFor(model => model.VisitType, "Repair") Repair</li>
                <li>@Html.RadioButtonFor(model => model.VisitType, "Maintenance") Maintenance</li>
                <li>@Html.ValidationMessageFor(model => model.VisitType)</li>
            </ul>     
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VisitDate)
        </div>
        <div class="editor-field">
            @*@Html.TextBoxFor(model => model.VisitDate, new { @id="visitDate", @placeholder="mm/dd/yyyy" })*@
            @Html.EditorFor(model => model.VisitDate, "{0:dd/MM/yyyy}", new { @id = "visitDate", @placeholder = "mm/dd/yyyy" })
            @Html.ValidationMessageFor(model => model.VisitDate)
        </div>

        <p>
            <input type="submit" value="Submit" class="medium success btn" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    $("#VisitDate").datepicker({
        minDate: +7, maxDate: +90,
        dateFormat: "dd/mm/yy"
    });

    //$.validator.addMethod('date', function (value, element) {
    //    if (this.optional(element)) {
    //        return true;
    //    }
    //    var ok = true;
    //    try{
    //        $.datepicker.parseDate('dd/MM/yyyy', value);
    //    }
    //    catch(err){
    //        ok = false;
    //    }
    //    return ok;
    //});
</script>


