@model IEnumerable<LPCopiers.Models.UserProfile>

@{
    ViewBag.Title = "OutOfHours";
}

@{Html.RenderPartial("_header");}


<div class="row">
    <div class="twelve columns" >
        <h3>Please contact your local agent for out of hours service:</h3>
        <table class="rounded">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.contact)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.forename) @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.area)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.contact)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

