@model LPCopiers.Models.LocalPasswordModel

<div class="row">
    <div class="twelve columns">
        <h3>Change password</h3>

        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Change Password Form</legend>
                <ul>
                    <li class="field">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword, new { @class="narrow password input"})
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "narrow password input" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "narrow password input" })
                    </li>
                </ul>
                <input type="submit" value="Change password" class="medium secondary btn" />
            </fieldset>
        }
    </div>
</div>
