@model LPCopiers.Models.LocalPasswordModel

<div class="row">
    <div class="twelve columns">
        <p>
            You do not have a local password for this site. Add a local
            password so you can log in without an external login.
        </p>

        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Set Password Form</legend>
                <ul>
                    <li class="field">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "narrow password input" })
                    </li>
                    <li class="field">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "narrow password input" })
                    </li>
                </ul>
                <input type="submit" value="Set password" class="medium secondary btn" />
            </fieldset>
        }
    </div>
</div>
