@model LPCopiers.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">

        <section id="loginForm">
        <h2>Use a local account to log in.</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <ul>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        <label class="checkbox" for="remeberme">
                            <span></span>
                            @Html.CheckBoxFor(m => m.RememberMe, new { @id = "rememberme" })
                            Remember Me?
                        </label>
                        
                    </li>
                    <li>
                        <p>@Html.ActionLink("Forgotten Password ?", "LostPassword", "Account")</p>                        
                    </li>
                </ul>
                <input type="submit" value="Log in" class="medium secondary btn" />
            </fieldset>
        }

        </section>
    </div>
</div>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
