@model LPCopiers.Models.LostPasswordModel

@{
    ViewBag.Title = "LostPassword";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
         @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Lost Password</legend>
                <ul>
                    <li class="field">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "normal text input" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </li>

                    <li>
                        <input type="submit" value="Request Reset Link" class="medium secondary btn" />
                    </li>
                </ul>

            </fieldset>
        }   
    </div>
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>