@model LPCopiers.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
        @using (Html.BeginForm())
        {


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Reset Password</legend>
                @if(ViewBag.Message != null)
                {
                <span class="warning alert">@ViewBag.Message</span>
                }
                <div class="field">
                    @Html.LabelFor(model => model.password)
                    @Html.PasswordFor(model => model.password, new { @class="narrow password input"})
                    @Html.ValidationMessageFor(model => model.password)

                </div>

                <div class="field">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "narrow password input" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>

                @Html.HiddenFor(model=>model.ReturnToken)

                <p>
                    <input type="submit" value="Reset" class="medium secondary btn"/>
                </p>
            </fieldset>
        }

    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
