@model LPCopiers.Models.Equipment

@{
    ViewBag.Title = "Delete";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
        <h2>Are you sure you want to delete this?</h2>
        <fieldset>
            <legend>Delete Record</legend>
            <ul>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.EngRef)</strong>
                    @Html.DisplayFor(model => model.EngRef)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.serialNo)</strong>
                    @Html.DisplayFor(model => model.serialNo)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.Make)</strong>
                    @Html.DisplayFor(model => model.Make)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.Model)</strong>
                    @Html.DisplayFor(model => model.Model)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.Company)</strong>
                    @Html.DisplayFor(model => model.Company)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.Contact)</strong>
                    @Html.DisplayFor(model => model.Contact)
                </li>
                <li>
                    <strong>@Html.DisplayNameFor(model => model.Location)</strong>
                    @Html.DisplayFor(model => model.Location)
                </li>
            </ul>
            </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" class="medium danger btn"/>
            </p>
        }
    </div>
</div>

