@model IEnumerable<LPCopiers.Models.Equipment>

@{
    ViewBag.Title = "DetailsByEngineer";
}

@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve">
        <p>
            @Html.ActionLink("Create New", "Create", null, null, new { @class = "medium primary btn" })
        </p>
        <table class="rounded">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EngRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.serialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EngRef)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.serialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EquipmentID, @class="medium primary btn"}) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EquipmentID, @class="medium danger btn"})
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
