@model LPCopiers.Models.Equipment

@{
    ViewBag.Title = "Edit";
}

@{Html.RenderPartial("_header");}

<div class="row">
    <div class="twelve columns">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Equipment</legend>

                @Html.HiddenFor(model => model.EquipmentID)

                <ul>
                    <li class="field">
                        <label for="EngRef">Engineer Reference No</label>

                        @Html.TextBoxFor(model => model.EngRef, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.EngRef)
                    </li>
                    <li class="field">
                        <label for="serialNo">Serial Number</label>

                        @Html.TextBoxFor(model => model.serialNo, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.serialNo)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.Make)

                        @Html.TextBoxFor(model => model.Make, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.Make)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.Model)

                        @Html.TextBoxFor(model => model.Model, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.Model)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.Company)

                        @Html.TextBoxFor(model => model.Company, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.Company)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.Contact)

                        @Html.TextBoxFor(model => model.Contact, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.Contact)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.Location)

                        @Html.TextBoxFor(model => model.Location, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.Location)
                    </li>
                </ul>

                <p>
                    <input type="submit" value="Save" class="medium secondary btn" />
                </p>
            </fieldset>
        }

    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
