@model LPCopiers.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>UserProfile</legend>

                @Html.HiddenFor(model => model.UserId)

                <ul>
                    <li class="field">
                        @Html.LabelFor(model => model.UserName)
                        @Html.TextBoxFor(model => model.UserName, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.surname)
                        @Html.TextBoxFor(model => model.surname, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.surname)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.forename)
                        @Html.TextBoxFor(model => model.forename, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.forename)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.area)
                        @Html.TextBoxFor(model => model.area, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.area)
                    </li>
                    <li class="field">
                        @Html.LabelFor(model => model.contact)
                        @Html.TextBoxFor(model => model.contact, new { @class = "narrow text input" })
                        @Html.ValidationMessageFor(model => model.contact)
                    </li>
                </ul>

                <p>
                    <input type="submit" value="Save" class="medium secondary btn" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
