<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - LP Copiers</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

        @Styles.Render("~/Content/gumby")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css") @*Rendered last to overwrite any predefined bootstrap css*@
        <link href="~/Content/mediaQueries.css" rel="stylesheet" />
        @RenderSection("HeaderScripts", required: false)
    </head>

    <body>
        <div id="wrap">
            @Html.Partial("_NavBarPartial")
 

            @*Featured/image for decoration of top of page*@
            @RenderSection("featured", required: false)
            @RenderBody()
     

        </div>@*End of page wrap*@

        @Html.Partial("_FooterPartial")



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/gumby")
        @RenderSection("scripts", required: false)
    </body>
</html>
