@model LPCopiers.Models.Manufacture

@using (Html.BeginForm("Manufacturers", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="four columns">
            <fieldset>
                <legend>@Html.DisplayNameFor(m => m.Photocopier)</legend>
                <ul>
                    <li>@Html.ValidationMessageFor(m => m.Photocopier)</li>
                    <li>@Html.RadioButtonFor(m => m.Photocopier, "Canon")Canon</li>
                    <li>@Html.RadioButtonFor(m => m.Photocopier, "Xerox")Xerox</li>
                    <li>@Html.RadioButtonFor(m => m.Photocopier, "Sharp")Sharp</li>
                </ul>
            </fieldset>
        </div>
        <div class="four columns">
            <fieldset>
                <legend>@Html.DisplayNameFor(m => m.Printer)</legend>
                <ul>
                    <li>@Html.ValidationMessageFor(m => m.Printer)</li>
                    <li>@Html.RadioButtonFor(m => m.Printer, "HP")Hewlett Packard</li>
                    <li>@Html.RadioButtonFor(m => m.Printer, "Brother")Brother</li>
                    <li>@Html.RadioButtonFor(m => m.Printer, "Epson")Epson</li>
                </ul>
            </fieldset>
        </div>
        <div class="four columns">
            <fieldset>
                <legend>@Html.DisplayNameFor(m => m.Fax)</legend>
                <ul>
                    <li>@Html.ValidationMessageFor(m => m.Fax)</li>
                    <li>@Html.RadioButtonFor(m => m.Fax, "Ricoh")Ricoh</li>
                    <li>@Html.RadioButtonFor(m => m.Fax, "Philips")Philips</li>
                    <li>@Html.RadioButtonFor(m => m.Fax, "Samsung")Samsung</li>
                </ul>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p><input type="submit" value="submit" class="large secondary btn" /></p>
        </div>

    </div>
        

}